.teaser-bar {
  margin-top: 1em;
  border-top: none;
  padding: 0 var(--base-unit);
  gap: calc(2 * var(--base-unit));
}

@media screen and (width > 600px) and (width <= 799px) {
  .teaser-bar {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (width > 799px) {
  .teaser-bar {
    display: flex;
    border-top: 1px solid var(--color-medium-dark-gray);
  }
}

.teaser-bar > div {
  border-top: 1px solid var(--color-medium-dark-gray);
  margin: calc(var(--base-unit)/2) 0 var(--base-unit) 0;
  padding: 0 var(--base-unit) var(--base-unit);
}

@media screen and (width > 600px) and (width <= 799px) {
  .teaser-bar > div {
    flex: 0 calc(50% - var(--base-unit));
    padding: 0 0 var(--base-unit);
  }
}

@media screen and (width > 799px) {
  .teaser-bar > div {
    flex: 1 0;
    border-top: none;
    padding: 0 0 var(--base-unit);
  }

  .teaser-bar > div > div {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .teaser-bar > div > div > * {
    flex-grow: 1;
    margin: var(--base-unit) 0 0 0;
  }

  .teaser-bar > div p.text {
    flex-grow: 100;
  }
}

.teaser-bar > div h1 {
  font-size: 1.3em;
}

.teaser-bar > div p.link a {
  background: url("/resources/img/link_icon.png") 0 0.15em no-repeat transparent;
  background-size: 0.8em 0.8em;
  padding-left: 1em;
}
