.speaker-detail img {
  width: 100%;
}

@media screen and (min-width: 320px) {
  .speaker-detail img {
    width: 70%;
  }
}

@media screen and (min-width: 600px) {
  .speaker-detail img {
    display: block;
    float: left;
    width: 50%;
    padding-right: 20px;
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 799px) {
  .speaker-detail img {
    display: block;
    float: left;
    width: 40%;
    padding-right: 20px;
    padding-bottom: 20px;
  }
}

.speaker-detail .speaker-data {
  margin-top: -20px;
}

.speaker-detail .speaker-data > * {
  margin-bottom: 5px;
}

.speaker-detail .talk-list {
  clear: both;
}

.speaker-detail .talk-list h4 {
  margin-bottom: 0;
}

.speaker-detail .talk-list ul {
  margin-top: 10px;
}
