.header {
  width: 100%;
  background-color: #fff;
  background-position: 0 0;
  background-repeat: no-repeat;

  /* Use webp image for browser set support it, fallback to header_bg.jpg for the others */
  background-image: url('/resources/img/header_bg.jpg');
  /* stylelint-disable-next-line value-no-vendor-prefix */
  background-image: -webkit-image-set(
    url('/resources/img/header_bg.webp') 1x,
    url('/resources/img/header_bg.webp') 2x,
    url('/resources/img/header_bg.jpg') 1x,
    url('/resources/img/header_bg.jpg') 2x
  );
  background-image: image-set(
    url('/resources/img/header_bg.webp') 1x,
    url('/resources/img/header_bg.webp') 2x,
    url('/resources/img/header_bg.jpg') 1x,
    url('/resources/img/header_bg.jpg') 2x
  );
}

@media screen and (max-width: 320px) {
  .header {
    padding: 0;
  }
}

.header .section-header, .header .section-mainnav ul {
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
}

@media screen and (min-width: 799px) {
  .header .section-header, .header .section-mainnav ul {
    width: var(--content-width);
  }
}

/* --- Headlines --- */
.header h1 {
  font-family: var(--font-light);
  font-size: 2em;
  margin: 0 0 0.5em;
  padding: 0.5em 0 0;
}

@media screen and (max-width: 320px) {
  .header h1 {
    display: none;
  }
}

.header h2 {
  margin: 0.3em 0.2em 0;
  padding: 0;
  font-size: 1.2em;
}

@media screen and (max-width: 320px) {
  .header h2 {
    padding: 0.625em 0;
    text-align: center;
  }
}

/* --- Navigation --- */
.header .section-header {
  padding: 0 var(--base-unit) 0;
  overflow: hidden;
}

/* logo */
.header .section-header .logo {
  background-color: var(--color-dark);
  padding: var(--base-unit) var(--base-unit) 2em;
  float: right;
}

.header .section-header .logo div {
  width: 103px;
  height: 100px;
  background: url('/resources/img/logo.svg') 0 0 no-repeat;
  background-size: 103px 100px;
  background-repeat: no-repeat;
}

@media screen and (max-width: 320px) {
  .header .section-header .logo div {
    width: 36px;
    height: 35px;
    background-size: 36px 35px;
  }
}

/* main navigation */
.header .section-mainnav {
  width: 100%;
  background-color: #00A0EE;
  clear: both;
}

.header .section-mainnav > ul {
  font-family: var(--font-semi);
  font-weight: normal;
  list-style: none;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.header .section-mainnav > ul li {
  display: inline-block;
  position: relative;
  margin: 0.3em 0.75em;
}

@media screen and (min-width: 600px) {
  .header .section-mainnav > ul li:hover ul {
    display: block;
  }
}

.header .section-mainnav > ul ul {
  display: none;
  position: absolute;
  left: -1em;
  background-color: var(--color-highlight-1);
  z-index: 1000;
  padding-left: 0;
  min-width: 200px;
}

.header .section-mainnav > ul ul li {
  display: block;
  white-space: nowrap;
}

@media screen and (max-width: 600px) {
  .header .section-mainnav > ul {
    display: none;
  }

  .header .section-mainnav > ul.active {
    display: block;
    padding-bottom: 0.5em;
  }

  .header .section-mainnav > ul li {
    display: block;
    margin: 0.5em 1em;
  }

  .header .section-mainnav > ul li ul.active {
    display: block;
    position: relative;
    padding-left: 1.5em;
  }
}

.header .section-mainnav a:link {
  color: var(--color-light);
}

.header .section-mainnav a:visited {
  color: var(--color-light);
}

.header .section-mainnav a:hover, .header .section-mainnav a:active {
  color: var(--color-light);
  text-decoration: underline;
}

/* mobile navigation */
.header h1.mobile-nav {
  display: none;
}

@media screen and (max-width: 600px) {
  .header h1.mobile-nav {
    display: block;
    margin: 0 0 0 0.5em;
    padding: 0;
    width: 30px;
    height: 36px;
    overflow: hidden;
    word-wrap: nowrap;
  }

  .header h1.mobile-nav a {
    display: block;
    overflow: hidden;
    word-wrap: nowrap;
    width: 100%;
    height: 100%;
    background: url('/resources/img/menu.png') 0 3px no-repeat transparent;
    text-indent: 100%;
  }
}
