.header {
  background: url('/resources/img/header_bg.jpg') 0 0 no-repeat #fff;
  width: 100%;
  overflow: hidden;
}

@media screen and (max-width: 320px) {
  .header {
    padding: 0;
  }
}

.header .nav-header {
  padding: 0 var(--base-unit) 0;
}

/* logo */
.header .nav-header .logo {
  background-color: var(--color-dark);
  padding: var(--base-unit) var(--base-unit) 2em;
  float: right;
}

.header .nav-header .logo div {
  width: 103px;
  height: 100px;
  background: url('/resources/img/logo.svg') 0 0 no-repeat;
  background-size: 103px 100px;
  background-repeat: no-repeat;
}

@media screen and (max-width: 320px) {
  .header .nav-header .logo div {
    width: 36px;
    height: 35px;
    background-size: 36px 35px;
  }
}

/* main navigation */
.header .nav-main {
  width: 100%;
  background-color: #00A0EE;
  clear: both;
}

.header .nav-main .navlink-main {
  font-family: var(--font-semi);
  font-weight: normal;
}
