.header {
  background: url('/resources/img/header_bg.jpg') 0 0 no-repeat #fff;
  width: 100%;
}

@media screen and (max-width: 320px) {
  .header {
    padding: 0;
  }
}

/* Headlines */
.header h1 {
  font-family: var(--font-light);
  font-size: 2em;
  text-transform: none;
  margin: 0 0 0.5em;
  padding: 0.5em 0 0;
}

@media screen and (max-width: 320px) {
  .header h1 {
    display: none;
  }
}

.header h2 {
  font-family: var(--font-semi);
  text-transform: none;
  margin: 0.3em 0.2em 0;
  padding: 0;
  font-size: 1.2em;
}

@media screen and (max-width: 320px) {
  .header h2 {
    padding: 0.625em 0;
    text-align: center;
  }
}


/* Navigation */
.header .nav-header {
  padding: 0 var(--base-unit) 0;
  overflow: hidden;
}

/* logo */
.header .nav-header .logo {
  background-color: var(--color-dark);
  padding: var(--base-unit) var(--base-unit) 2em;
  float: right;
}

.header .nav-header .logo div {
  width: 103px;
  height: 100px;
  background: url('/resources/img/logo.svg') 0 0 no-repeat;
  background-size: 103px 100px;
  background-repeat: no-repeat;
}

@media screen and (max-width: 320px) {
  .header .nav-header .logo div {
    width: 36px;
    height: 35px;
    background-size: 36px 35px;
  }
}

/* main navigation */
.header .nav-main {
  width: 100%;
  background-color: #00A0EE;
  clear: both;
}

.header .nav-main .navlink-main {
  font-family: var(--font-semi);
  font-weight: normal;
}

/* mobile navigation */
header h1.mobile-nav {
  display: none;
}

@media screen and (max-width: 600px) {
  header h1.mobile-nav {
    display: block;
    margin: 0 0 0 0.5em;
    padding: 0;
    width: 30px;
    height: 36px;
    overflow: hidden;
    word-wrap: nowrap;
  }

  header h1.mobile-nav a {
    display: block;
    overflow: hidden;
    word-wrap: nowrap;
    width: 100%;
    height: 100%;
    background: url('/resources/img/menu.png') 0 3px no-repeat transparent;
    text-indent: 100%;
  }
}

