/* --- Talk Tags --- */
.talk-detail-before-outline ul.talk-tags {
  list-style-type: none;
  padding: 0;
  font-size: 12px;
  margin-top: -15px;
  margin-bottom: 15px;
}

.talk-detail-before-outline ul.talk-tags li {
  display: inline;
  background: #aaa;
  padding: 1px 4px;
  margin-right: 1px;
}

.talk-detail-before-outline ul.talk-tags li a {
  color: var(--color-light);
  text-decoration: none;
}
