main .embed-youtube {
  width: unset;
  text-align: center;
  max-width: 800px;
  margin: 32px auto;
}

main .embed-youtube > div {
  display: flex;
  justify-content: center;
}

main .embed-youtube .embed-placeholder {
  width: 100%;
  aspect-ratio: 16 / 9;
  position: relative;
  cursor: pointer;
}

main .embed-youtube .embed-placeholder > * {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

main .embed-youtube .embed-placeholder img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

main .embed-youtube .embed-placeholder-play button {
  width: 65px;
  height: 45px;
  background-image: url('/icons/youtube.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
