.embed-youtube {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.embed-youtube iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.embed-youtube .placeholder {
  position: relative;
  width: 100%;
  height: 100%;
}

.embed-youtube .placeholder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.embed-youtube .placeholder button {
  display: block;
  position: absolute;
  width: 65px;
  height: 45px;
  inset: 0;
  margin: auto;
  background-image: url("/resources/img/youtube.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
  border: 0;
}
