.social-teaser > div > div {
  display: flex;
  flex-flow: row wrap;
  flex-wrap: wrap;
  justify-self: center;
  gap: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.social-teaser p,
.social-teaser a {
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 5px;
  margin: 0;
}

.social-teaser .icon {
  height: 20px;
  width: auto;
  vertical-align: middle;
}
