.social-teaser p,
.social-teaser a {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 3px;
}

.social-teaser .icon {
  display: flex;
  align-items: center; 
  width: 45px;
  height: 45px;
  margin-right: 3px;
}

.social-teaser .icon img {
  height: auto;
  width: 100%;
  vertical-align: middle;
}
