/* --- Tab Navigation --- */
.schedule .tab-navigation {
  display: block;
  margin-left: 1.5em;
  z-index: 1;
  left: 1em;
  top: 0;
}

.schedule .tab-navigation a {
  font-family: var(--font-semi);
  display: inline-block;
  padding: 0.5em 1em;
  text-align: center;
  background-color: var(--color-light-gray);
  border: 2px solid var(--color-light-gray);
  margin-right: 2px;
  margin-bottom: -2px;
  outline: none;
  border-radius: 0.5em 0.5em 0 0;
}

.schedule .tab-navigation a.active {
  background-color: var(--color-light);
  border-bottom: 2px solid var(--color-light);
}

@media screen and (max-width: 600px) {
  .schedule .tab-navigation a {
    font-size: 0.8em;
  }
}

/* --- Tab Content --- */
.schedule .tab-content {
  display: none;
  position: relative;
  padding: 1em 1em 2em;
  border: 2px solid var(--color-light-gray);
}

.schedule .tab-content.active {
  display: block;
}

.schedule .tab-content h4 {
  margin-top: 0;
}

/* --- Schedule Table --- */
.schedule table {
  width: 100%;
  border-collapse: collapse;
}

.schedule th, .schedule td {
  margin: 0;
  padding: 0.5em;
  vertical-align: top;
  text-align: left;
  color: var(--color-dark);
}

.schedule td {
  border: 3px solid var(--color-light-gray);
  background-color: var(--color-light);
}

.schedule td:first-child {
  border-left: none;
}

.schedule td:last-child {
  border-right: none;
}

@media screen and (max-width: 600px) {
  .schedule th, .schedule td {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 320px) {
  .schedule th:nth-child(2), .schedule td:nth-child(2) {
    border-right: none;
  }

  .schedule .speaker {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .schedule td.time {
    white-space: nowrap;
  }

  .schedule td.speaker {
    max-width: 10em;
  }
}

.schedule td.title {
  width: auto;
}

.schedule tr.break td {
  background-color: #eee;
  font-style: italic;
}

.schedule td > div.speaker {
  font-size: 80%;
}
