.stage-header .stage-large {
  position: relative;
}

.stage-header .stage-title {
  width: 100%;
}

@media screen and (min-width: 320px) and (max-width: 799px) {
  .stage-header .stage-title {
    width: 50%;
    float: left;
  }
}

@media screen and (min-width: 799px) {
  .stage-header .stage-title {
    width: 100%;
  }
}

.stage-header .stage-cta-box {
  width: 100%;
}

@media screen and (min-width: 320px) and (max-width: 799px) {
  .stage-header .stage-cta-box {
    width: 50%;
    float: right;
  }
}

@media screen and (min-width: 799px) {
  .stage-header .stage-cta-box {
    width: 100%;
  }
}

.stage-header .stage-cta {
  padding: 0.2em 0.1em 0.5em 1em;
  background-color: var(--color-cta);
  height: 2em;
  width: calc(15 * var(--base-unit));
  position: relative;
  display: inline-block;
}

.stage-header .stage-cta:link, .stage-header .stage-cta:visited, .stage-header .stage-cta:hover, .stage-header .stage-cta:active {
  color: #fff;
}

@media screen and (min-width: 799px) {
  .stage-header .stage-cta::after {
    position: absolute;
    left: 100%;
    top: 0;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 1em 0 1em 2em;
    border-color: transparent transparent transparent var(--color-cta);
  }
}

.stage-header .stage-overlay {
  width: 100%;
  padding: 0 var(--base-unit);
}

.stage-header .stage-overlay h2 {
  margin-top: 0;
}

@media screen and (min-width: 799px) {
  .stage-header .stage-overlay {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.625em;
    width: 30%;
    background-color: rgba(255 255 255 / 75%);
    height: 100%;
    border-bottom: none;
  }

  .stage-header .stage-overlay > * {
    margin-left: var(--base-unit);
  }
}
