 :root {
  /* dimensions */
  --base-unit: 0.625em; /* ^= 10px; */
  --nav-height: 177px;
  
  /* colors */
  --color-light: #fafafa;
  --color-dark: #333;
  --color-medium-dark-gray: #999;
  --color-medium-gray: #666;
  --color-light-gray: #ccc;
  --color-font: #333;
  --color-highlight-1: #00A0EE;
  --color-highlight-2: #66CEF5;
  --color-cta: #00A0EE;
  
  /* fonts */
  --font-bold: 'SignikaBold', helvetica, arial, sans-serif;
  --font-semi: 'SignikaSemibold', helvetica, arial, sans-serif;
  --font-light: 'SignikaLight', helvetica, arial, sans-serif;
  --font-regular: 'SignikaRegular', helvetica, arial, sans-serif;

  /*
  --break-small: 320px;
  --break-medium: 600px;
  --break-large: 799px;
  */
}

body {
  background-color: var(--color-light);
  color: var(--color-dark);
  font-family: var(--font-light);
  display: none;
  margin: 0 auto;
}

body.appear {
  display: unset;
}

/* progressive section appearance */
main .section[data-section-status='loading'],
main .section[data-section-status='initialized'] {
  display: none;
}

header {
  min-height: var(--nav-height);
}

/* --- basic styling --- */
* {
  box-sizing: border-box;
}

.box-padding {
  padding: 0 var(--base-unit);
}

p, li {
  line-height: 1.6em;
}

ul {
  padding-left: calc(2 * var(--base-unit));
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

a:link {
  color: var(--color-cta);
  text-decoration: none;
}

a:visited {
  color: var(--color-cta);
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}


/* --- grid --- */
.row, main .section {
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
}

.row .row {
  max-width: none;
  min-width: 0;
  width: auto;
}

.row::before, .row::after, main .section::before, main .section::after {
  content: "";
  display: table;
}

.row::after, main .section::after {
  clear: both;
}

@media screen and (min-width: 600px) and (max-width: 799px) {
  .row, main .section {
    width: 100%;
    min-width: 0;
  }
}

@media screen and (min-width: 800px) {
  .row, main .section {
    width: 1000px;
    min-width: 768px;
  }
}

.col-1-4, .col-2-4 {
  float: left;
  position: relative;
}

.col-1-4 {
  width: 100%;
}

@media screen and (min-width: 600px) and (max-width: 799px) {
  .col-1-4 {
    width: 50%;
  }
}

@media screen and (min-width: 799px) {
  .col-1-4 {
    width: 25%;
  }
}

.col-2-4 {
  width: 100%;
}

@media screen and (min-width: 799px) {
  .col-2-4 {
    width: 50%;
  }
}


/* --- navigation --- */
.navlist {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navlist-main {
  margin: 0 auto;
  list-style: none;
}

.navlist-main li {
  display: inline-block;
  position: relative;
  margin: 0.3em 1em;
}

@media screen and (min-width: 600px) {
  .navlist-main li:hover ul {
    display: block;
  }
}

.navlist-main ul {
  display: none;
  position: absolute;
  left: -1em;
  background-color: var(--color-highlight-1);
  z-index: 1000;
  padding-left: 0;
}

.navlist-main ul li {
  display: block;
  white-space: nowrap;
}

@media screen and (max-width: 600px) {
  .navlist-main {
    display: none;
  }

  .navlist-main.active {
    display: block;
    padding-bottom: 0.5em;
  }

  .navlist-main li {
    display: block;
    margin: 0.5em 1em;
  }
}

.navlist-footer {
  min-height: 6.25em;
}

@media screen and (max-width: 600px) {
  .navlist-footer {
    min-height: 0;
    margin: 0 0 1.25em;
  }
}

.navlink:link {
  color: var(--color-light);
}

.navlink:visited {
  color: var(--color-light);
}

.navlink:hover, .navlink:active {
  color: var(--color-light);
  text-decoration: underline;
}

/* --- titles --- */
.title {
  font-family: var(--font-semi);
  font-weight: normal;
}

.title.title-nav {
  display: none;
}

@media screen and (max-width: 600px) {
  .title.title-mainnav {
    display: block;
    margin: 0 0 0 0.5em;
    width: 30px;
    height: 36px;
    overflow: hidden;
    word-wrap: nowrap;
  }

  .title.title-mainnav a {
    display: block;
    overflow: hidden;
    word-wrap: nowrap;
    width: 100%;
    height: 100%;
    background: url('/resources/img/menu.png') 0 3px no-repeat transparent;
    text-indent: 100%;
  }
}

.title.title-site {
  text-transform: none;
  font-family: var(--font-light);
  margin: 0 0 0.5em;
  padding: 0.5em 0 0;
}

@media screen and (max-width: 320px) {
  .title.title-site {
    display: none;
  }
}

.title.title-site.caption {
  display: block;
  font-family: var(--font-semi);
  margin: 0.3em 0.2em 0;
  padding: 0;
  font-size: 1.2em;
}

@media screen and (max-width: 320px) {
  .title.title-site.caption {
    padding: 0.625em 0;
    text-align: center;
  }
}

.title.title-footer {
  font-family: var(--font-semi);
  font-weight: normal;
  font-size: 1.0em;
  margin: 0.5em 0 0.2em;
  color: #fafafa;
  text-transform: uppercase;
}

.title.title-teaser {
  font-size: 1.3em;
}
