 :root {
  /* dimensions */
  --base-unit: 0.625em; /* ^= 10px; */
  --nav-height: 177px;
  --content-width: 1000px;
  
  /* colors */
  --color-light: #fafafa;
  --color-dark: #333;
  --color-medium-dark-gray: #999;
  --color-medium-gray: #666;
  --color-light-gray: #ccc;
  --color-font: #333;
  --color-highlight-1: #00A0EE;
  --color-highlight-2: #66CEF5;
  --color-cta: #00A0EE;
  
  /* fonts */
  --font-bold: 'SignikaBold', helvetica, arial, sans-serif;
  --font-semi: 'SignikaSemibold', helvetica, arial, sans-serif;
  --font-light: 'SignikaLight', helvetica, arial, sans-serif;
  --font-regular: 'SignikaRegular', helvetica, arial, sans-serif;

  /*
  --break-small: 320px;
  --break-medium: 600px;
  --break-large: 799px;
  */
}

body {
  background-color: var(--color-light);
  color: var(--color-dark);
  font-family: var(--font-light);
  letter-spacing: -0.5px;
  display: none;
  margin: 0 auto;
}

body.appear {
  display: unset;
}

/* progressive section appearance */
main .section[data-section-status='loading'],
main .section[data-section-status='initialized'] {
  display: none;
}

header {
  min-height: var(--nav-height);
}

/* --- basic styling --- */
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

p, li {
  line-height: 1.6em;
}

ul {
  padding-left: calc(2 * var(--base-unit));
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-semi);
  font-weight: normal;
}

img {
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

a:link {
  color: var(--color-cta);
  text-decoration: none;
}

a:visited {
  color: var(--color-cta);
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

/* --- grid layout for main area --- */
@media screen and (max-width: 799px) {
  main .section {
    padding: 0 var(--base-unit);
  }

  main .section.stage-header-section, main .section.teaser-bar-section {
    padding: 0;
  }
}

.content-2col main .section.aside-bar-section {
  display: flex;
}

.content-2col main .section.aside-bar-section > div {
  flex: 1 0;
}

@media screen and (min-width: 600px) and (max-width: 799px) {
  main .section.aside-bar-section {
    display: flex;
  }

  main .section.aside-bar-section > div {
    flex: 1 0;
  }
}

@media screen and (min-width: 799px) {
  main {
    display: grid;
    grid-template-columns: 0 repeat(4, 25%) 0;
    grid-template-rows: auto;
  }

  /* assign no row - there may be multiple "default content" sections, the aide bar flows parallel to all of them */
  main .section {
    grid-column: 2 / 6;
    padding: 0 var(--base-unit);
  }

  .content-3col main .section {
    grid-column: 2 / 5;
  }

  .content-2col main .section {
    grid-column: 2 / 4;
  }

  main .section.stage-header-section {
    grid-column: 2 / 6;
    grid-row: 1;
    padding: 0;
  }

  main .section.aside-bar-section {
    grid-column: 5 / 6;
    grid-row: 2 / 999;
  }

  .content-2col main .section.aside-bar-section {
    grid-column: 4 / 6;
  }

  main .section.teaser-bar-section {
    grid-column: 2 / 6;
    padding: 0;
  }
}

@media screen and (min-width: 1000px) {
  main {
    grid-template-columns: 1fr repeat(4, 250px) 1fr;
  }
}
