 :root {
  /* dimensions */
  --base-unit: 0.625em; /* ^= 10px; */
  --nav-height: 177px;
  --content-width: 1000px;
  
  /* colors */
  --color-light: #fafafa;
  --color-dark: #333;
  --color-medium-dark-gray: #999;
  --color-medium-gray: #666;
  --color-light-gray: #ccc;
  --color-font: #333;
  --color-highlight-1: #00A0EE;
  --color-highlight-2: #66CEF5;
  --color-cta: #00A0EE;
  
  /* fonts */
  --font-bold: 'SignikaBold', helvetica, arial, sans-serif;
  --font-semi: 'SignikaSemibold', helvetica, arial, sans-serif;
  --font-light: 'SignikaLight', helvetica, arial, sans-serif;
  --font-regular: 'SignikaRegular', helvetica, arial, sans-serif;

  /*
  --break-small: 320px;
  --break-medium: 600px;
  --break-large: 799px;
  */
}

/* Deliberately defining web fonts here and not in lazy-styles.css to avoid Flash of unstyled text (FOUT) */
@font-face {
  font-family: SignikaLight;
  src: url('/resources/font/Signika-Light-webfont.eot');
  src: url('/resources/font/Signika-Light-webfont.eot?#iefix') format('embedded-opentype'),
       url('/resources/font/Signika-Light-webfont.woff') format('woff'),
       url('/resources/font/Signika-Light-webfont.ttf') format('truetype'),
       url('/resources/font/Signika-Light-webfont.svg#SignikaLight') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: SignikaRegular;
  src: url('/resources/font/Signika-Regular-webfont.eot');
  src: url('/resources/font/Signika-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('/resources/font/Signika-Regular-webfont.woff') format('woff'),
       url('/resources/font/Signika-Regular-webfont.ttf') format('truetype'),
       url('/resources/font/Signika-Regular-webfont.svg#SignikaRegular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: SignikaSemibold;
  src: url('/resources/font/Signika-Semibold-webfont.eot');
  src: url('/resources/font/Signika-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
       url('/resources/font/Signika-Semibold-webfont.woff') format('woff'),
       url('/resources/font/Signika-Semibold-webfont.ttf') format('truetype'),
       url('/resources/font/Signika-Semibold-webfont.svg#SignikaSemibold') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: SignikaBold;
  src: url('/resources/font/Signika-Bold-webfont.eot');
  src: url('/resources/font/Signika-Bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('/resources/font/Signika-Bold-webfont.woff') format('woff'),
       url('/resources/font/Signika-Bold-webfont.ttf') format('truetype'),
       url('/resources/font/Signika-Bold-webfont.svg#SignikaBold') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: var(--color-light);
  color: var(--color-dark);
  font-family: var(--font-light);
  margin: 0 auto;
  overflow-y: scroll;
}

/* progressive section appearance */
main .section[data-section-status='loading'],
main .section[data-section-status='initialized'] {
  display: none;
}

/* --- basic styling --- */
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

p, li {
  line-height: 1.6em;
}

ul {
  padding-left: calc(2 * var(--base-unit));
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-semi);
  font-weight: normal;
}

img {
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

a:link {
  color: var(--color-cta);
  text-decoration: none;
}

a:visited {
  color: var(--color-cta);
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon svg {
  height: 100%;
  width: 100%;
}

/* --- header static elements --- */
header {
  position: relative;
  height: var(--nav-height);
  width: 100%;
  background-color: #fff;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-image: url('/resources/img/header_bg.webp');
}

@media screen and (max-width: 320px) {
  header {
    height: 110px;
  }
}

header .nav-background {
  position: absolute;
  background-color: #00A0EE;
  top: calc(var(--nav-height) - 36px);
  height: 36px;
  width: 100%;
}

@media screen and (max-width: 320px) {
  header .nav-background {
    top: 77px;
  }
}

header .header-container {
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
  padding: 0 var(--base-unit) 0;
}

@media screen and (max-width: 320px) {
  header .header-container {
    padding: 0;
  }
}

@media screen and (min-width: 799px) {
  header .header-container {
    width: var(--content-width);
  }
}

header .header-container .logo {
  background-color: var(--color-dark);
  padding: var(--base-unit) var(--base-unit) 2em;
  float: right;
}

header .header-container .logo div {
  width: 103px;
  height: 100px;
  background: url('/resources/img/logo.svg') 0 0 no-repeat;
  background-size: 103px 100px;
  background-repeat: no-repeat;
}

@media screen and (max-width: 320px) {
  header .header-container .logo div {
    width: 36px;
    height: 35px;
    background-size: 36px 35px;
  }
}

/* --- grid layout for main area --- */
@media screen and (max-width: 799px) {
  main .section {
    padding: 0 var(--base-unit);
  }

  main .section.stage-header-section, main .section.teaser-bar-section {
    padding: 0;
  }
}

.content-2col main .section.aside-bar-section {
  display: flex;
}

.content-2col main .section.aside-bar-section > div {
  flex: 1 0;
}

@media screen and (min-width: 600px) and (max-width: 799px) {
  main .section.aside-bar-section {
    display: flex;
  }

  main .section.aside-bar-section > div {
    flex: 1 0;
  }
}

@media screen and (min-width: 799px) {
  main {
    display: grid;
    grid-template-columns: 0 repeat(4, 25%) 0;
    grid-template-rows: auto;
  }

  /* assign no row - there may be multiple "default content" sections, the aide bar flows parallel to all of them */
  main .section {
    grid-column: 2 / 6;
    padding: 0 var(--base-unit);
  }

  .content-3col main .section {
    grid-column: 2 / 5;
  }

  .content-2col main .section {
    grid-column: 2 / 4;
  }

  main .section.stage-header-section {
    grid-column: 2 / 6;
    grid-row: 1;
    padding: 0;
  }

  main .section.aside-bar-section {
    grid-column: 5 / 6;
    grid-row: 2 / 999;
  }

  .content-2col main .section.aside-bar-section {
    grid-column: 4 / 6;
  }

  main .section.teaser-bar-section {
    grid-column: 2 / 6;
    padding: 0;
  }
}

@media screen and (min-width: 1000px) {
  main {
    grid-template-columns: 1fr repeat(4, 250px) 1fr;
  }
}

/* UserCentrics consent message */
main .usercentrics-consent-dialog {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 10px solid lightgray;
  background-color: #fff;
  padding: 20px;
  overflow: auto;
}

main .usercentrics-consent-dialog h3 {
  margin-top: 10px;
  margin-bottom: 0;
}

main .usercentrics-consent-dialog p {
  margin-top: 10px;
  margin-bottom: 20px;
}

main .usercentrics-consent-dialog button {
  display: block;
  width: 180px;
  margin: 5px;
  padding: 10px;
  border: 0;
  font-family: var(--font-bold);
  font-size: 16px;
  cursor: pointer;
}

main .usercentrics-consent-dialog button.more-info {
  background-color: lightgray;
}

main .usercentrics-consent-dialog button.accept {
  color: #fff;
  background-color: var(--color-cta);
}

main .usercentrics-loading-spinner {
  width: 100%;
  height: 100%;
}
